body {
	background-color: black;
	height: 98vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	background-color: #6f58c9;
	padding: 15px;
	width: 80%;
	max-width: 500px;
	min-width: 310px;
	border-radius: 30px;
	box-shadow: 10px 10px 20px #b6b8d6;
}

form {
	display: flex;
	flex-direction: column;
}

input {
	background-color: #7e78d2;
	padding: 10px;
	border: 1px solid #bbdbd1;
	color: white;
	font-weight: bolder;
	border-radius: 30px;
	margin-left: 10px;
}

button {
	background-color: #f58f29;
	color: white;
	font-weight: bolder;
	font-size: 20px;
	border-radius: 15px;
	padding: 5px;
}

.container > form > div {
	display: flex;
	justify-content: space-between;
	color: #b6b8d6;
	font-weight: bolder;
	font-size: 20px;
	margin: 10px;
}
